html
    head
        title #{title} - My site
        link(rel="stylesheet", href="/css/style.css")
    body
        div(class='grid-container')
            div(class='header')
                h2 Header
            div(class='left')
                p(class='div') Column Left
                img(src="/img/lnx.jpg", alt="myImage",class="two")
            div(class='middle')
                p(class='div') Column Middle
                img(src="/img/byVisit.jpg", alt="myImage",class="two")
            div(class='right')
                p(class='div') Column Right
                img(src="/img/lnx2.jpeg", alt="myImage",class="two")
            div(class='footer')
                p Footer