html
    head
        title PugTemplate
    body
        h1 Hello #{mensaje} in Index page
        form(action="/datos",method="POST")
            input(type="text")
            input(type="submit", value="EnviarPeticion")